.cartWrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}

.cartbody {
  margin-left: auto;
  width: 20%;
  height: 100%;
  background-color: whitesmoke;
}
