.cartBodyClosed {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  margin-left: auto;
  width: 30vw;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  transition: 0.2s ease-in-out transform;
}

.cartBodyOpen {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  margin-left: auto;
  width: 30vw;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(0);
  transition: 0.2s ease-in-out transform;
  box-shadow: -1px 0 5px 2px rgba(67, 67, 67, 0.22);
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(175, 174, 174, 0.722);
  padding: 0.95rem 3rem;
  font-size: 0.9rem;
}

.cross {
  font-size: 2rem;
  cursor: pointer;
  &:hover {
    color: #f1a759;
  }
}
.title {
  width: 100%;
  text-align: left;
  text-transform: uppercase;
}

.cartList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
  width: 100%;
  overflow-y: scroll;
}

.cartFooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 3rem;
  margin-top: auto;
  border-top: 1px solid rgba(175, 174, 174, 0.722);
}

.cartTotalWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cartTotalTextWrapper {
  display: flex;
  flex-direction: column;
}

.cartTotalText {
  font-weight: 700;
}

.cartTotalSubtext {
  font-size: 0.8rem;
  color: grey;
}

.cartTotal {
  font-weight: 700;
}

.checkoutButton {
  width: 100%;
  border: none;
  padding: 1rem 2rem;
  background-color: #f1a759;
  border-radius: 2px;
  font-weight: 700;
  cursor: pointer;
}

.emptyText {
  padding: 3rem;
}

.emptyImage {
  width: 30%;
  height: fit-content;
}
