.item {
  min-width: 200px;
  display: flex;
  flex-direction: column;

  &__itemWrapper {
    width: 100%;
  }
  &__img {
    width: 100%;
    object-fit: cover;
  }
  &__subtitle {
    color: grey;
  }
  &__price {
    margin-top: 0.5rem;
    font-weight: bold;
  }
  &__button {
    background-color: rgb(30, 30, 30);
    color: white;
    padding: 0.25rem 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
    &:hover {
      color: #f1a759;
    }
  }
}
